.request {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.request__content {
  display: flex;
  flex-direction: column;

  margin-bottom: 10px;
}

.request__h {
  order: 2;
}

.request__time {
  order: 1;
  font-size: 16px;
  font-style: italic;
}

.request__h {
  font-size: 24px;
}

@media (min-width: 576px) {
  .request {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}
